

.nav-links {
  list-style: none;
  display: flex; /* Display the navigation links horizontally */
  justify-content: flex-end; /* Align links to the left */
  padding: 0; /* Remove default padding */
  margin-top: 20px;
  margin-left: 30px;
  padding-right: 40px;
}

.nav-links li {
  margin-right: 20px; /* Add spacing between the links */
}

.nav-links li:last-child {
  margin-right: 0; /* Remove spacing for the last link */
}

/* Optional: Style the links */
.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}
