*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
/* body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image:linear-gradient(rgba(0,0,0,0) , rgba(0,0,0,0.75)), url("./assets/yannis-h-uaPaEM7MiQQ-unsplash.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8; 
} */

.heading-content{
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh;
  color: brown;
}